body {
    background:url("/resources/img/bg_img.jpg");
}
.row {
    margin-right:0px;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:0px;
}
.parentDiv{
    display:table;
}
.childDiv {
    vertical-align:middle;
    display:table-cell;
}
.carousal-item {
    width:220px;
    height:100px;
}
.price {
      font-family: cursive; 
      font-style: oblique; 
      color: lightsalmon; 
      display: table-cell; 
      vertical-align: middle; 
      font-size:24px;
}
.login-button {
	text-align: center;
	margin-bottom:20px;
}
.car_item {
    color: #666;
    background: #333;
    height: 300px;
    line-height: 300px; /* Align the text vertically center. */
    font-size: 52px;
    text-align: center;    
    font-family: "trebuchet ms", sans-serif;    
}
.my-carousel{
    margin-top: 20px;
}
.bs-example{
    margin: 20px;
}
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }

    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom:0;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 100%;
    }
    
    .carousel-caption {
      background-color: transparent;
      position: static;
      padding: 0 20px;
      margin-top: 150px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 100%;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 100%;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }
    }
    
    #rest-sign-in {
    min-heght:300px;
    min-wdth: 200px;
}
.user-pass-input , .user-login-input {
    margin:20px;
}
.sign-in-col {
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
}
.login-button {
	height:40px;
	width:80px;
}
.login-failed-p {
	color:red;
	font-size:30px;
}
